// Footer
footer.page-footer.font-small.unique-color-dark
  .border-link
    .container
      // Grid row
      .row.py-4.d-flex.align-items-center
        // Grid column
        .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
          h6.mb-0.h6 Connectez vous &agrave; nos r&eacute;seaux sociaux!
        // Grid column
        // Grid column
        .col-md-6.col-lg-7.text-center.text-md-right
          // Facebook
          a.fb-ic
            i.fab.fa-facebook-f.white-text.mr-4  
          // Twitter
          a.tw-ic
            i.fab.fa-twitter.white-text.mr-4  
          // Linkedin
          a.li-ic
            i.fab.fa-linkedin-in.white-text.mr-4  
        // Grid column
      // Grid row
  // Footer Links
  .container.text-center.text-md-left.mt-5
    // Grid row
    .row.mt-3
      // Grid column
      .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
        // Content
        h6.text-uppercase.font-weight-bold Loosamax
        hr.border-link.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos officia architecto exercitationem quae consequatur, consequuntur commodi quidem autem repellendus cum sed minus, numquam ad rem libero pariatur quas dolorem. Mollitia eius porro laudantium itaque quibusdam, recusandae provident iusto. Animi?
      // Grid column
      // Grid column
      .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
        // Links
        h6.text-uppercase.font-weight-bold Produits
        hr.border-link.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          a(href='#!') Abonnements
        p
          a(href='#!') Jetons
      // Grid column
      // Grid column
      .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
        // Links
        h6.text-uppercase.font-weight-bold Liens utiles
        hr.border-link.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          a(href='#!') Votre compte
        p
          a(href='#!') Devenez membre
        p
          a(href='#!') Tarifs
        p
          a(href='#!') Aide
      // Grid column
      // Grid column
      .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
        // Links
        h6.text-uppercase.font-weight-bold Contact
        hr.border-link.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          i.fas.fa-home.mr-3
          |  New York, NY 10012, US
        p
          i.fas.fa-envelope.mr-3
          |  info@example.com
        p
          i.fas.fa-phone.mr-3
          |  + 01 234 567 88
        p
          i.fas.fa-print.mr-3
          |  + 01 234 567 89
      // Grid column
    // Grid row
  // Footer Links
  // Copyright
  .footer-copyright.text-center.py-3
    | &copy; 2020 Copyright:
    a(href='https://loosamax.netlify.app/')  loosamax.netlify.app
  // Copyright
// Footer
