// Navbar
nav.navigation.mb-1.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href='/') Loosamax
  button.navbar-toggler.first-button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent20' aria-controls='navbarSupportedContent20' aria-expanded='false' aria-label='Toggle navigation')
    .animated-icon1
      span
      span
      span
  #navbarSupportedContent20.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='#') Pricing
      if user
        li.nav-item
          a.nav-link(href='/profile') Profile
        li.nav-item
          a.nav-link.logout Logout
      else
        li.nav-item
          a.nav-link(href='/login') Login
        li.nav-item
          a.nav-link(href='/signup') Signup

// /.Navbar
