// Navbar
nav.mb-1.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href='/') Loosamax
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent-4' aria-controls='navbarSupportedContent-4' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent-4.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='#play')
          | Jouez
      li.nav-item
        a.nav-link(href='#engagements')
          | Nos engagements
      li.nav-item
        a.nav-link(href='#partners')
          | Partenaires
// /.Navbar
