.engagements {
  background-color: $color-tertiary;  
  padding: 6rem;
}

.heading-secondary {
  text-align: center;
  font-size: 2.8rem;
  color: $color-secondary;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  @include shadow-icon;

  &-partners {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    text-align: center;
    font-size: 2.8rem;
    color: $color-secondary;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
  }
}

.far {
  font-size: 4rem;
  color: white;
}

.fas {
  @include shadow-icon;
}

.icons {
  color: #7ed56f;
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}
.view {
  margin-top: 3rem;

  @include respond(phone) {
    margin-top: 2rem;
  }
}

.carousel {
  box-shadow: -7px 4px 22px $color-black;
}

.partners {
  min-height: 30vh;
  margin-bottom: 4rem;
}