.navbar {
  background-color: #1c2331;
  padding: 1rem;

  &-brand {
    font-size: 2rem;
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
  }
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Monserrat', sans-serif;
}

.animated-icon1 {
  width: 3rem;
  height: 2rem;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: .2rem;
  width: 100%;
  border-radius: .9rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background-color: $color-secondary;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 1rem;
}

.animated-icon1 span:nth-child(3) {
  top: 2rem;
}

.animated-icon1.open span:nth-child(1) {
  top: 1.1rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -6rem;
}

.animated-icon1.open span:nth-child(3) {
  top: 1.1rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
