.border-link {
  background-color: #51ce62;
}

.h6 {
  font-size: 1.4rem;
}

.fab {
  font-size: 2rem;
}

.alert {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.9rem 15rem;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.25);

  @include respond(tab-land) {
    top: 6%;
  }
  @include respond(tab-port) {
    top: 3.5%;
  }
  @include respond(phone) {
    top: 11%;
    font-size: 1.4rem;
  }
  @include respond(phone-small) {
    top: 6.5%;
  }
}
.alert--success {
  background-color: $alert-success;
}
.alert--error {
  background-color: $alert-error;
}

.mt-0 {
  margin-top: 0;
}

.mt-6 {
  margin-top: 6rem;
}
