$color-primary: #393939;
$color-secondary: #51CE62;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-tertiary: #1c2331;
$color-tertiary-light: #293141;

$color-secondary-dark: #ff7730;
$color-gray-light-1: #f7f7f7;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-dark-4: rgb(224, 224, 224);
$color-gray-dark-5: #444;

$color-gray-subtle-1: rgb(239, 239, 239);
$color-black: #000;
$color-white: #fff;

$alert-success: #20bf6b;
$alert-error: #eb4d4b;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 2rem;